<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My blog</title>
</head>
<body>
    <div>
        <h1>Welcome to the number one blog in Africa</h1>
    </div>
    <div>
        <p>publishd: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>Thank you for visiting my blog</p>
    </div>
     <div>
        <p>publishd: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>Visit us more</p>
    </div>
</body>
</html>